---
import HeaderLink from './HeaderLink.astro';
import Theme from './theme.astro';
import { SITE_TITLE } from '../consts';
---

<header class="w-full my-6">
	<nav class="flex items-center justify-between font-jetbrains bg-[#121212] rounded-lg shadow-2xl p-4">
		<h2 class="text-xl">
			<a href="/">{SITE_TITLE}</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/posts">Blog</HeaderLink>
		</div>
		<Theme />
	</nav>
</header>
